# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# ==========================
# FastAPI
# ==========================

*.log

# ==========================
# Alembic
# ==========================

alembic/versions/*.pyc

# ==========================
# VSCode
# ==========================

.vscode/

# ==========================
# JetBrains
# ==========================

.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Node
# ==========================

node_modules/

# ==========================
# Next.js
# ==========================

.next/
out/

# ==========================
# Build
# ==========================

dist/
build/

# ==========================
# Coverage
# ==========================

.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Secrets
# ==========================

.env
.env.*